body {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    /* height: 100vh;
    width: 100vw; */
}

.sidebar {
    width: 250px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar-header {
    gap: 8px;
    margin-bottom: 20px;
    color: rgb(13, 98, 224);
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.sidebar-header .iocn {
    font-size: 1.5rem;
}

.sidebar-menu {
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 11px 11px;
    border-radius: 8px;
    color: #374151;
}

.sidebar-menu li:hover {
    background-color: #e0e7ff;
    color: #6366f1;
}

.sidebar-menu li .icon {
    font-size: 1.5rem;
}

.sidebar-menu li a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(119, 119, 119);
}

.sidebar-user {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e7eb;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: rgb(13, 98, 224);
    border-radius: 50%;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    font-size: 1.2rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #6b7280;
}

.user-name {
    color: #374151;
    font-weight: 600;
}

.user-role {
    font-size: 1rem;
}

.main-content {
    flex: 1;
    padding: 20px;
    order: -1;
}